#about {
    padding: 5% 5%;
    background-color: #3281f0;
}

.flex-container {
    display: flex; 
    flex-wrap: wrap;       
    align-items: center;    
    padding-bottom: 10%;
}

.section-title {    
    color: white;
    text-align: center;    
}

.section-text {
    color: #ffffff8a;
    max-width: 50%;      
    padding: 0% 5%;
    font-size: 1.5em;
}

.section-img {
    max-width: 40%;
    border-radius: 50%;     
    margin: 0% 5%;
}

@media screen and (max-width: 890px) {
    .flex-container {
        flex-direction: column; /* texto abaixo da imagem */
    }

    .section-text {
        margin-top: 26px; /* margem entre texto e imagem */
        max-width: 100%; /* tirando a limitação de 50% */
        line-height: 1.5em; /* maior separação entre as linhas */
    }
}









