* {  
    margin: 0px;
    padding: 0px;
    font-family: 'Ubuntu', sans-serif;  
    box-sizing: border-box;
}

#cabecalho {    
    padding-top: 3%;
    padding-bottom: 2%;
    width: 100%; 
    text-align: center;    
  }

/* Navbar */

ul {
    list-style-type: none;
    padding-top: 3%;    
}

li {
    display: inline;
    padding: 1%;
    font-size: 1.3em;        
}

a {
    text-decoration: none; 
    color: #1454ad;
}

li a:hover {
    font-weight: bold;
}


/* home */

#home {
    padding: 5% 10%;
    background-color: #3281f0;
    
}

h1 {
    color: rgba(255, 255, 255, 0.822) ;
    font-size: 3em;
    padding-top: 4%;           
    padding-bottom: 2%;
}

h2 {
    color: rgba(255, 255, 255, 0.637);
    font-weight: initial;    
    font-size: 1em;
}


/* Cards de notícias */

.cards-noticias {
  width: 100%;
  padding: 6% 5% 3%;
  background: white;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.card {  
  max-width: 350px;
  max-height: 350px;
  margin: 26px;
  background: #3281f0;
  transition-property: transform;
  transition-duration: 0.1s;
  transition-timing-function: ease-in-out;
  border-radius: 10%;
}

.card:hover {  
  transform: scale(1.06, 1.06);
}

.card a {
  text-decoration: none;
}

.card-media {
  width: 100%;
}

.card-media .img-card {
  width: 100%;
  max-height: 250px;
  min-height: 250px;
  object-fit: cover;
  object-position: center;  
}

.card-body {
  padding: 0 5% 5%;
  display: flex;
  flex-direction: column;
}

.card-body-title {
  font-weight: 500;  
  color: #ffffff;
  padding: 16px 0;
}

.card-body-title a {
  text-decoration: none;   
  color: #ffffff;
}

.card-body-subtext {
  color: #ffffff77;
  padding-bottom: 16px;
  
}

#footer {
  background-color: #1454ad;
  color:  rgba(245, 245, 245, 0.685);
  padding: 2%;
  text-align: center;  
}

#footer p {
  padding-top: 2%;
}

#social {
  padding-top: 2%;    
}

.social-media {
  fill: rgba(245, 245, 245, 0.685);
  width: 36px; 
  height: 36px;
  margin: 0% 1%;
}

.social-media:hover {
  fill: whitesmoke;
}