* {  
    margin: 0px;
    padding: 0px;
    font-family: 'Ubuntu', sans-serif;  
    box-sizing: border-box;
}

#cabecalho {    
    padding-top: 3%;
    padding-bottom: 3%;
    width: 100%; 
    text-align: center;   
    
  }

/* Navbar */

ul {
    list-style-type: none;
    margin-top: 2%;
    padding: 0;
}

li {
    display: inline;
    padding: 1%;
    font-size: 1.3em;        
}

a {
    text-decoration: none; 
    color: #1454ad;
}

li a:hover {
    font-weight: bold;
}


/* home */

#home {
    padding: 5% 10%;
    background-color: #1454ad;
    
}

h1 {
    color: white ;
    font-size: 3em;
    padding-top: 4%;           
    padding-bottom: 2%;
}

h2 {
    color: white;
    font-weight: initial;    
    font-size: 1em;
}


/* Cards de notícias */

.main-cards {
  width: 100%;
  padding: 6% 5% 3%;
  background: white;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.card {
  max-width: 350px;
  margin: 26px;
  background: #1454ad;
  transition-property: transform;
  transition-duration: 0.1s;
  transition-timing-function: ease-in-out;
  border-radius: 10%;
}

.card:hover {  
  transform: scale(1.06, 1.06);
}

.card a {
  text-decoration: none;
}

/* card image */
.card-thumb {
  width: 100%;
}

.card-thumb .img-el {
  width: 100%;
  height: 250px;
  object-fit: cover;
  object-position: center;
  border-top-right-radius: 10%;
  border-top-left-radius: 10%;
}

/* card body */
.card-body {
  padding: 0 5% 5%;
  display: flex;
  flex-direction: column;
}

/* card-body title */
.card-body-title {
  font-weight: 500;  
  color: #ffffff;
  padding: 16px 0;
}

.card-body-title a {
  text-decoration: none;   
  color: #ffffff;
}

/* card-body subtext */
.card-body-subtext {
  color: #ffffff55;
  padding-bottom: 16px;
  
}

#footer {
  background-color: #1454ad;
  color: white;
  padding: 2%;
  text-align: center;  
}

#footer p {
  padding-top: 2%;
}